<!DOCTYPE html>
<html>
  <%- include('./components/head'); -%>
  <script>
    $(document).ready(function() {

      function daysInMonth (month, year) {
        return new Date(year, month+1, 0).getDate();
      }
      
      <% function monthCycle(n) {
        if (n<0) {return 12-(n*-1)} else {return n % 12}
      }
  
      const monthNames = ["January", "February", "March", "April", "May", "June",
      "July", "August", "September", "October", "November", "December"] 

      date = new Date();
      date.setDate(1);
      date.setMonth(userMonth)
      offset = date.getDay();

      %>

      //Import current date information to browser
      date = new Date();
      date.setDate(1)
      date.setMonth(<%= userMonth %>)
      offset = date.getDay();
      //
      <%
      if (userMonth) {
      %>currentMonth = <%= userMonth %>; 
        date.setMonth(currentMonth)
        <%
        
      } else {currentMonth = date.getMonth()}
      %>
      
      for (i=offset+1, x=1; i <= daysInMonth(date.getMonth(), date.getYear()) + offset; i++, x++) {
        $('.day:nth-child(' + i + ')').prepend("<div class='calendarNumber'>" + x + "</div>")
      }
      //Escape Key Shortcut
      $(document).keyup(function(e) {
          if (e.key === "Escape") { 
            exitMenu();
          }
      });

      //Dialog Popup
      function exitMenu() {
        $('#shadow').fadeOut(200, function() {
          $('#to-Dos').empty()
          $('.dayHidden').remove();
          $('.monthHidden').remove();
        })
      }
      $('.day').click(function(e) {
        //Delete Menu Handling
        dayClicked = parseInt($(this).text()) + offset;
        toDoAmount = $(".day:nth-child(" + dayClicked + ")").find(".toDoItem").children().length
          if (toDoAmount > 0) {
            incrementCounter = 0;
            $(".day:nth-child(" + dayClicked + ")").find(".toDoItem").children().each(function() {
              var $this = $(this);
              $('#to-Dos').append("<div class='toDoListItem' id='toDoListItem" + incrementCounter + "'><div>" + $this.html() + "</div><img class='deleteListItem' src='/images/exitBlack.png'></img></div>")
              incrementCounter += 1;
            })
          }

          currentArray = [];

        $("#shadow").fadeIn(200,function() {
          //Pass target day information
          console.log($(e.target).closest('.day').find('.calendarNumber').text())
          dayCarrier = '<input class="monthHidden" type="hidden" name="month" value="'+ currentMonth +'" />' + '<input class="dayHidden" type="hidden" name="day" value="'+ $(e.target).closest('.day').find('.calendarNumber').text() +'" />'
          $('#createToDo').append(dayCarrier);
          $('#deleteToDo').append(dayCarrier);

          $('#exitMenu').click(function() {
            exitMenu();
          })
          //Delete Form Handling
          $(".deleteListItem").click(function(e) {
            if ($('#deleteToDo').is(":hidden")) {$('#deleteToDo').css('display', 'flex')}
            if (!$(e.target).closest('.toDoListItem').hasClass('marked')) {
              $(e.target).closest('.toDoListItem').addClass('marked');
              num = $(e.target).closest('.toDoListItem').attr('id');
              num = parseInt(num.substr(num.length - 1));
              
              currentArray.push(num)
              console.log(currentArray)
              $("#deleteArrayCarrier").val(currentArray)
            } else {
              $(e.target).closest('.toDoListItem').removeClass('marked');
              num = $(e.target).closest('.toDoListItem').attr('id');
              num = parseInt(num.substr(num.length - 1));

              currentArray.splice(currentArray.indexOf(num), 1);

              if (currentArray.length == 0) {
                $('#deleteToDo').css('display', 'none')
              }

              $("#deleteArrayCarrier").val(currentArray)
            }
          });
        });
      })
    });
  </script>
  <body>
  <div id="shadow">
    <div id="toDoContainer">
    <div id="exitMenu"><img src="../images/exit.png"></div>
      <form id="createToDo" method="POST">
        <div class="title">What needs to get done?</div>
        <input type="text" name="todo" class="textInput">
      </form>
      <div id="to-Dos">
      </div>
      <form id="deleteToDo" action="/deleteTask" method="POST">
        <button id="deleteToDoSubmit" class="button buttonLink wideButton">Confirm Delete</button>
        <input id="deleteArrayCarrier" type="hidden" name="delete">
      </form>
    </div>
    </div>
  </div>
  <div id="backgroundShade"></div>
  <div id="logo"><%
    if (userMonth) { %>
     <%= monthNames[userMonth] %> <% } else { %> <%=monthNames[date.getMonth()] %> <%} %>
  </div>
  <div id="contentContainer">
    <% if (userMonth) { %>
      <a class="arrow" href="<%= '/mycalendar/' + (monthCycle(parseInt(userMonth)-1)) %> ">
    <% } else { %>
      <a class="arrow" href="<%= '/mycalendar/' + (monthCycle(date.getMonth()-1)) %> ">
    <% } %>
    <div class="arrow" id="leftArrow"></div>
    </a>
    <div id="mainContainer" style="width: calc(100% - 200px)">
        <div id="dayOfWeekContainer">
          <div class="weekDay">Sunday</div>
          <div class="weekDay">Monday</div>
          <div class="weekDay">Tuesday</div>
          <div class="weekDay">Wednesday</div>
          <div class="weekDay">Thursday</div>
          <div class="weekDay">Friday</div>
          <div class="weekDay">Saturday</div>
        </div>
        <div id="calendarContainer">
            <!--Render Tasks-->
            <%  
                month = calendar[userMonth]

                date = new Date();
                date.setMonth(userMonth)
                date.setDate(1);

                offset = date.getDay();
                
                for (i=0;i<35;i++) {
                    %> <div class='day'>
                      <div class="toDoItem"><% ;if(month.days[i-offset]) { %> 
                        <% for (j=0;j<month.days[i-offset].length;j++) { %>
                         <div><%= month.days[i-offset][j] %></div>
                        <% } %>
                      <% } %></div>
                    </div>
                <% } %>

        </div>
    </div>
    <% if (userMonth) { %>
      <a class="arrow" href="<%= '/mycalendar/' + (monthCycle(parseInt(userMonth)+1)) %> ">
    <% } else { %>
      <a class="arrow" href="<%= '/mycalendar/' + (monthCycle(date.getMonth()+1)) %> ">
    <% } %>
    <div class="arrow" id="rightArrow"></div>
    </a>
  </div>
    <div id="bottomRibbon">
      <a class="buttonLink" href="/logout"><div class="button">Logout</div></a>
      <div class="insetButton">View Help</div>
      <div class="bottomRibbonText" id="legal">&copy Gray Lewis 2019</div>
    </div>
  </body>
</html>